.statsList {
  display: flex;
}

.statsList__item {
  color: honeydew;
  font-weight: 700;
  font-size: 18px;
}

.statsList__item:nth-child(1) {
  color: springgreen;
}

.statsList__item:nth-child(3) {
  color: salmon;
}

.statsList__item:not(:last-child) {
  margin-right: 15px;
}

.light {
  font-style: italic;
  color: orange;
}
